
@{
    ViewBag.Title = "ContactTC";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div id="myCarousel1" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Content/images/banner.png" style="width:100%; height: 550px" alt="">
            <div class="carousel-caption">
                <h1>Ý KIẾN CỦA BẠN ĐÃ GỬI THÀNH CÔNG</h1>
                <h2>STECH sẽ liên hệ lại với bạn trong thời gian sớm nhất, cảm ơn bạn!</h2>
                &nbsp;
                <a href="@Url.Action("Index","Home")">
                    <h2 style="color:red">VỀ TRANG CHỦ</h2>
                </a>
            </div>
        </div>

    </div>
</div>
<div class="clearfix"></div>