
@{
    ViewBag.Title = "Guarantee";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div id="myCarousel1" class="carousel slide" data-ride="carousel">


    <ol class="carousel-indicators">
        <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel1" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Hinh Anh/Gioi Thieu/msi-hop-tac-voi-concept-store-mo-khu-vuc-trai-nghiem-cac-dong-laptop-choi-game-2017_3.jpg" style="width:100%; height: 550px" alt="">
            <div class="carousel-caption">
                <h1 style="">ĐIỀU BẠN CÓ THỂ</h1>
                <h2 style="">trải nghiệm sản phẩm mới của chúng tôi giết thời gian chờ bảo hành</h2>
            </div>
        </div>
        <div class="item">
            <img src="~/Hinh Anh/Gioi Thieu/ALA1812.jpg" style="width:100%; height: 550px" alt="">
            <div class="carousel-caption">
                <h2 style="">Một số loại nước dành cho bạn là miễn phí nhé, <br /> giải khát trong không gian của STECH sẽ nhanh tới số của bạn.</h2>
            </div>
        </div>

    </div>
    <a class="left carousel-control" href="#myCarousel1" data-slide="prev"> <img src="~/Content/images/icons/left-arrow-hover.png" alt="left"></a>
    <a class="right carousel-control" href="#myCarousel1" data-slide="next"><img src="~/Content/images/icons/right-arrow-hover.png" alt="left"></a>

</div>

<section class="about-block">
    <div class="container">
        <div class="row">
            <div class="col-md-5 about-left">
                <p style="color:red">BẢO HÀNH</p>
                &nbsp;
                <p label style="color:black;">SẢN PHẨM</p>
            </div>
            <div class="col-md-7 about-right">
                <h3>Hướng dẫn bảo hành</h3>
                <p>Sản phẩm của bạn bị lỗi do nhà sản xuất đúng theo quy định bảo hành của hãng và còn trong thời hạn bảo hành, đừng ngần ngại hãy đưa đến cho STECH.</p>
                <ul class="list-unstyled list-inline">
                    <li>Bảo hành trực tiếp tại 475 Điện Biên Phủ, Phường 25, Bình Thạnh, Hồ Chí Minh.</li>
                    <li>Các bạn ở xa gửi bưu điện đến cho STECH, nhớ kèm phiếu bảo hành, SĐT và địa chỉ của bạn.</li>
                    <li>Thời gian bảo hành tùy thuộc vào hãng nên các bạn thông cảm.</li>
                    <li>Trung tâm bảo hành có khu tựa Coffe House cung cấp nước miễn phí đền bù cho thời gian của bạn nhé.</li>
                    <li>Thời gian hoạt động từ 8h - 5h tối các ngày trong tuần ngoài chủ nhật.</li>
                </ul>
                <span>Cảm ơn bạn đã quan tâm.</span>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</section>

