
@{
    ViewBag.Title = "KhuTraiNghiem";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div id="myCarousel1" class="carousel slide" data-ride="carousel">


    <ol class="carousel-indicators">
        <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel1" data-slide-to="1"></li>
        <li data-target="#myCarousel1" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Hinh Anh/Gioi Thieu/msi3.jpg" style="width:100%; height: 550px" alt="">
            <div class="carousel-caption">
                <h1>CHO BẠN MỘT TRẢI NGHIỆM TỐT NHẤT</h1>               
            </div>
        </div>
        <div class="item">
            <img src="~/Hinh Anh/Gioi Thieu/msi-hop-tac-voi-concept-store-mo-khu-vuc-trai-nghiem-cac-dong-laptop-choi-game-2017_3.jpg" style="width:100%; height: 550px" alt="">
            <div class="carousel-caption">
                <h1 style="">LUÔN CẬP NHẬT CÁC SẢN PHẨM MỚI</h1>
            </div>
        </div>
        <div class="item">
            <img src="~/Hinh Anh/Gioi Thieu/img20161217020912405-714928j17102.jpg" style="width:100%; height: 550px" alt="">
            <div class="carousel-caption">
                <h1>ĐA DẠNG SẢN PHẨM<br /> BẠN THOẢI MÃI TRẢI NGHIỆM</h1>
            </div>
        </div>

    </div>
    <a class="left carousel-control" href="#myCarousel1" data-slide="prev"> <img src="~/Content/images/icons/left-arrow-hover.png" alt="left"></a>
    <a class="right carousel-control" href="#myCarousel1" data-slide="next"><img src="~/Content/images/icons/right-arrow-hover.png" alt="left"></a>

</div>

<section class="about-block">
    <div class="container">
        <div class="row">
            <div class="col-md-5 about-left">
                <p style="color:red">TRẢI NGHIỆM</p>
                &nbsp;
                <p label style="color:black;">STECH&YOU</p>
            </div>
            <div class="col-md-7 about-right">
                <h3>Khu trải nghiệm laptop của STECH</h3>
                <p>Stech luôn cải thiện và nâng cấp khu trải nghiệm tốt nhất và đầy đủ, để bạn có một sự lựa trọn tốt nhất về laptop.</p>
                <ul class="list-unstyled list-inline">
                    <li>STECH lun cập nhật đa mặt hàng laptop để phù hợp với nhu cầu và mức thu nhập cá nhân của mỗi người. </li>
                    <li>STECH sẽ mang những công nghệ đột phá, mới mẻ cho bạn.</li>
                    <li>Cho bạn một không giang trải nghiệm hiện đại và đẳng cấp.</li>
                    <li>Thời gian hoạt động: 8h sáng - 6h tối các ngày trong tuần ngoài chủ nhật.</li>
                </ul>
                <span>Cảm ơn bạn đã quan tâm.</span>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</section>


