
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="col-12 grid-margin">
    <div class="list-group-item">
        XIN CHÀO QUẢN TRỊ VIÊN !
    </div>    
</div>
<div class="col-12 grid-margin">
    <div class="list-group-item" style="background:#00ffff">
        <h4>Các công ty liên kết với Stech&You</h4>
        <div class="row">
            <div class="instagram-images">
                <a href="https://www.msi.com/index.php"><img src="~/Hinh Anh/LoGo/msilogo.png" style="width:50px; height: 50px" alt="First slide"></a>
                <a href="https://www.asus.com"><img src="~/Hinh Anh/LoGo/Asus logo.png" style="height:73px" alt="First slide"></a>
                <a href="https://www.apple.com/"><img src="~/Hinh Anh/LoGo/apple logo.jpg" style="width:50px; height: 50px" alt="First slide"></a>
                <a href="http://www.dell.com/en-us/gaming/"><img src="~/Hinh Anh/LoGo/alienware logo.png" style="width:85px; height: 85px" alt="First slide"></a>
                <a href="https://www.acer.com/worldwide/selection.html"><img src="~/Hinh Anh/LoGo/acer logo.png" style="height: 48px" alt="First slide"></a>
                <a href="http://www.dell.com/en-us"><img src="~/Hinh Anh/LoGo/Dell logo 2.gif" style="width:50px; height: 50px" alt="First slide"></a>
                <a href="https://www3.lenovo.com/vn/vn"><img src="~/Hinh Anh/LoGo/Lenovo Logo.png" style="height: 50px" alt="First slide"></a>
                <a href="https://www.razer.com/"><img src="~/Hinh Anh/LoGo/razer logo.png" style="width:50px; height: 50px" alt="First slide"></a>
                <a href="http://www8.hp.com/vn/en/home.html"><img src="~/Hinh Anh/LoGo/hp logo.png" style="width:50px; height: 50px" alt="First slide"></a>
                <a href="https://www.microsoft.com/vi-vn/"><img src="~/Hinh Anh/LoGo/Microsoft logo.png" style=" height: 50px" alt="First slide"></a>
                <a href="https://ark.intel.com/vi"><img src="~/Hinh Anh/LoGo/Intel logo.png" style=" height: 50px" alt="First slide"></a>
            </div>
        </div>
    </div>
</div>

